


        <div class="row" style="margin-bottom:20px;">
           <h2>Enter City</h2>

           

        </div>

        <div class="row form-group form-inline" id="rowDiv">
            
            <input type="text" name="city" id="city" class="form-control" placeholder="City Name">
            <button id="submitWeather" class="btn btn-primary btn-lg index-border-radius myButton">Search City</button>
        </div>
<div id="error" class="alert alert-dismissible alert-danger">

</div>
        <div id="show" class="index-border-radius"></div>

<script>

    $(document).ready(function () {
        $('#error').hide();
        $('#show').hide();
        $(submitWeather).click(function () {
            var city = $("#city").val();
            if (city != '') {
                $('#error').hide();
                $('#show').show();
                $.ajax({
                    url: "http://api.openweathermap.org/data/2.5/weather?q=" + city + "&units=metric" + "&APPID=abde646ca27e78bd7eb600273a6bcb85",
                    type: "GET",
                    dataType: "jsonp",
                    success: function (data) {
                        var widget = show(data);
                        $("#show").html(widget);
                        $("#city").val('');
                    }


                });

            } else {
                $("#error").show().html("Please enter city");

            }

        });
    });

    function show(data) {
        return "<h2 style='font-size:40px; font-weight:bold; class='text-center'>Current Weather for " + data.name + ", " + data.sys.country + "</h2>" +
            "<h3><strong>Weather</strong>: " + data.weather[0].main + "</h3>" +
            "<h3><strong>Description</strong>: <img src='http://openweathermap.org/img/w/" + data.weather[0].icon + ".png'> " + data.weather[0].description + "</h3>" +
            "<h3><strong>Temperature</strong>: " + data.main.temp + "°C</h3>" +
            "<h3><strong>Pressure</strong>: " + data.main.pressure + " hPa</h3>" +
            "<h3><strong>Humidity</strong>: " + data.main.humidity + "%</h3>" +
            "<h3><strong>Min. Temperature</strong>: " + data.main.temp_min + "°C</h3>" +
            "<h3><strong>Max. Temperature</strong>: " + data.main.temp_max + "°C</h3>" +
            "<h3><strong>Wind Speed</strong>: " + data.wind.speed + " m/s</h3>" +
            "<h3><strong>Wind Direction</strong>: " + data.wind.deg + "°</h3>";

    }

</script>