@model AnimalPartyGallery.Models.Comment


<h2>Are you sure you want to delete this?</h2>
<div>
  
    <hr />
    
    <img class="shadowBox" src="~/Images/delete.jpg" />
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> 
            <a href="@Url.Action("Index", "Users",null)" class="btn btn-default">Back</a>
        </div>
    }
</div>



